<div class="auth-page">
  <form class="auth-form" [formGroup]="passwordResetForm" (ngSubmit)="login()" novalidate>
    <img class="auth-form__image" src="assets/icons/firebase_28dp.png" />
    <h1 class="auth-form__title mat-display-2">Request password reset</h1>
    <mat-form-field class="auth-form__item">
      <input formControlName="email" matInput placeholder="Email*" type="email">
      <mat-error *ngIf="passwordResetForm.controls.email.touched && passwordResetForm.controls.email.errors?.required">
        <mat-icon>warning</mat-icon> Your email is
        <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="passwordResetForm.invalid && passwordResetForm.controls.email.dirty && passwordResetForm.controls.email.errors?.email">
        <mat-icon>warning</mat-icon> Please enter a
        <strong>valid email address</strong>
      </mat-error>
    </mat-form-field>
    <br>
    <button class="auth-form__submit" color="secondary" [disabled]="passwordResetForm.invalid" mat-button mat-stroked-button
      type="submit">Login</button>
    <br />
    <button class="auth-form__button" color="primary" routerLink="/register" mat-button mat-stroked-button
      type="submit">Cancel</button>
  </form>
</div>