<app-toolbar (sideNavToggle)="onSideNavToggle($event)"></app-toolbar>
<app-sidenav (add)="addFlow()" (edit)="editFlow($event)" [fixedInViewport]="sideNavFixed" [flows]="flows" [mode]="sideNavMode"
    [open]="sideNavOpen" (remove)="removeFlow($event)" (select)="selectFlow($event)">
    <div class="flowChart">
        <button id="contextMenuBtn" mat-button [matMenuTriggerFor]="menu"></button>
        <mat-menu #menu="matMenu" (close)="onMenuClosed()">
            <button mat-menu-item (click)="addIdea(menu)">
                Add idea
            </button>
        </mat-menu>
        <button class="fab fab--bottom-right" (click)="addIdea()" mat-button mat-fab>
            <mat-icon>lightbulb_outline</mat-icon>
        </button>
    </div>
</app-sidenav>