<mat-sidenav-container>
  <mat-sidenav #sideNav class="mat-elevation-z4" [mode]="mode" [fixedInViewport]="fixedInViewport" fixedTopGap="56">
    <mat-nav-list>
      <h3 mat-subheader>Flows</h3>
      <mat-divider></mat-divider>
      <mat-list-item *ngFor="let flow of flows; let i = index" class="flex row" (click)="selectFlow(i)">
        <mat-icon color="primary" mat-list-icon>share</mat-icon>
        <h4 mat-line>{{ flow.name }}</h4>
        <span class="spacer"></span>
        <button (click)="editFlow(flow)" mat-icon-button>
          <mat-icon color="primary">create</mat-icon>
        </button>
        <button (click)="removeFlow(flow)" mat-icon-button>
          <mat-icon color="error">delete</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item (click)="addFlow()">
        <mat-icon class="caption" mat-list-icon>add</mat-icon>
        <h4 class="caption" mat-line>Add flow</h4>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>