<h2 mat-dialog-title>What's on your mind?</h2>
<mat-dialog-content>
  <form class="flex column" [formGroup]="ideaForm" novalidate>
    <mat-form-field class="mb-1">
      <input formControlName="name" matInput placeholder="Name*" type="text">
      <mat-error *ngIf="ideaForm.controls.name.touched && ideaForm.controls.name.errors?.required">
        <mat-icon>warning</mat-icon>Idea name is
        <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="mb-1">
      <textarea formControlName="description" matInput placeholder="Description*" type="text"></textarea>
      <mat-error *ngIf="ideaForm.controls.description.touched && ideaForm.controls.description.errors?.required">
        <mat-icon>warning</mat-icon>Description is
        <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <p>Size</p>
    <mat-slider formControlName="r" class="fill-width" thumbLabel tickInterval="1" min="1" max="100" step="1"></mat-slider>
    <div class="flex row middle">
      <mat-form-field class="spacer">
        <input #trigger="mccColorPickerOrigin" formControlName="color" matInput mccColorPickerOrigin placeholder="Color*">
      </mat-form-field>
      <mat-error *ngIf="ideaForm.controls.color.touched && ideaForm.controls.color.errors?.required">
        <mat-icon>warning</mat-icon>Color is
        <strong>required</strong>
      </mat-error>
      <mcc-color-picker mccConnectedColorPicker [mccConnectedColorPickerOrigin]="trigger"></mcc-color-picker>
    </div>
  </form>
  <mat-list *ngIf="data.ideas && data.ideas.length">
    <h3 mat-subheader>Connections</h3>
    <mat-divider></mat-divider>
    <div *ngFor="let connection of connections; let i = index" class="flex column fill-width mt-1">
      <mat-select class="fill-width mb-1" [(value)]="connection.target" placeholder="Target">
        <mat-option *ngFor="let idea of data.ideas" [value]="idea.index">{{ idea.name }}</mat-option>
      </mat-select>
      <p>Distance</p>
      <mat-slider [(ngModel)]="connection.distance" class="fill-width" thumbLabel tickInterval="1" min="0" max="500" step="50"
        [value]="connection.distance"></mat-slider>
      <p>Strength</p>
      <mat-slider [(ngModel)]="connection.strength" class="fill-width" thumbLabel tickInterval="1" min="0" max="1" step="0.1" [value]="connection.strength"></mat-slider>
      <button class="fill-width" (click)="removeConnection(i)" color="warn" mat-raised-button>
        <mat-icon>delete</mat-icon>Remove connection</button>
      <mat-divider></mat-divider>
    </div>
    <mat-list-item (click)="addConnection()">
      <button [disabled]="connections.length === data.ideas.length" mat-icon-button>
        <mat-icon class="caption" mat-list-icon>add</mat-icon>
      </button>
      <h4 class="caption" mat-line>Add connection</h4>
    </mat-list-item>
  </mat-list>
</mat-dialog-content>
<mat-dialog-actions class="flex row">
  <span class="spacer"></span>
  <button mat-button mat-dialog-close>Cancel</button>
  <button (click)="save()" [disabled]="ideaForm.invalid" mat-button [mat-dialog-close]="flow">Done</button>
</mat-dialog-actions>