/* Add application styles & imports to this file! */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body, html {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: inherit;
  font-weight: 400;
  line-height: 1.125; 
  margin: 0;
  padding: 0;
}

.auth-page {
  align-items: center;
  background-color: rgb(4, 11, 94);
  color: rgb(255, 255, 255);
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.auth-form {
  background: none;
  margin-bottom: 5rem;
  max-width: 30rem;
  width: 100%;
}

.auth-form__button {
  color: #ffffff!important;
  width: 100%;
}

.auth-form__item {
  margin-bottom: 1rem;
  width: 100%;
}

.auth-form__item .mat-form-field-label {
  color: rgb(255, 255, 255);
}

.auth-form__item .mat-input-underline {
  background-color: rgb(255, 255, 255);
}

.auth-form__item input {
  color: rgb(255, 255, 255);
  text-align: center;
}

.auth-form__item input::placeholder {
  color: rgb(255, 255, 255);
}

.auth-form__item input::-moz-placeholder {
  color: rgb(255, 255, 255);
}

.auth-form__item input::-webkit-input-placeholder {
  color: rgb(255, 255, 255);
}

.auth-form__image {
  display: block;
  margin: 0 auto;
}

.auth-form__links {
  margin-top: 3rem;
  text-align: center;
}

.auth-form__links a {
  color: #FFC107;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}

.auth-form__submit[disabled] {
  color: rgba(200, 200, 200, .5)!important;
}

.auth-form__submit {
  color: #FFC107!important;
  width: 100%;
}

.auth-form__title {
  font-weight: 300;
  text-align: center;
}

.mat-elevation-z1,
.mat-elevation-z2,
.mat-elevation-z3,
.mat-elevation-z4,
.mat-elevation-z5,
.mat-elevation-z6,
.mat-elevation-z7,
.mat-elevation-z8 {
  position: relative;
  z-index: 2;
}

.snackbar--error {
  color: #ff0000;
}

.snackbar--info {
  color: #ffff00;
}